/* create boxes for each card/question, the opening page, the timer, the initials page and high score page */

/* time is rooted on the top right of the page until it's time to submit the initials and look at the highscore page */

/* in each box:
- stylize buttons
- box takes up almost full page */

body{
    background-color:salmon;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

button{
    background-color:coral;
}

section.intro{
    padding: 20%;
    text-align:center;
}

card#box1, card#box2, card#box3, card#box4, card#box5, card#box6, card#box7, card#box8, card#box9, card#box10, section.score-and-initials, section.highscore-page{
    background-color:peachpuff;
    display:flex;
    width:900px;
    min-height:fit-content;
    margin-left:33%;
    margin-right:33%;
    margin-top:15%;
    margin-bottom:15%;
    flex-direction:column;
    border-color:blue;
    border-style:groove;
    border-width: thick;
}

card#box1 h2, card#box2 h2, card#box3 h2, card#box4 h2, card#box5 h2, card#box6 h2, card#box7 h2, card#box8 h2, card#box9 h2, card#box10 h2{
    margin-left: 40%;
    margin-right: 40%;
}

card#box1 p, card#box2 p, card#box3 p, card#box4 p, card#box5 p, card#box6 p, card#box7 p, card#box8 p, card#box9 p, card#box10 p{
    margin-left: 2.5%;
    margin-right: 2.5%
}

card#box1 ol, card#box2 ol, card#box3 ol, card#box4 ol, card#box5 ol, card#box6 ol, card#box7 ol, card#box8 ol, card#box9 ol, card#box10 ol, section.highscore-page ol{
    margin-top:50px;
    margin-left:5%;
}

card#box1 ol li, card#box2 ol li, card#box3 ol li, card#box4 ol li, card#box5 ol li, card#box6 ol li, card#box7 ol li, card#box8 ol li, card#box9 ol li, card#box10 ol li, section.highscore-page ol li{
    margin-top:1.5%;
    margin-bottom:8%;
}

section.highscore-page h1{
    margin-left: 40%;
    margin-right: 40%;
}

section.timer-box{
    background-color:aliceblue;
    display:flex;
    flex-direction:column;
    margin-left:90%;
    text-align:center;
    border-color:blue;
    border-style:groove;
    border-width: thick;
    padding:1%;
    position:fixed;
}