/* create boxes for each card/question, the opening page, the timer, the initials page and high score page */

/* time is rooted on the top right of the page until it's time to submit the initials and look at the highscore page */

/* in each box:
- stylize buttons
- box takes up almost full page */

body{
    background-color:salmon;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

button{
    background-color:coral;
}

section#quiz-intro, section#quiz-card{
    padding: 20%;
    text-align:center;
}

button#start-quiz{
    text-align: center;
    align-items:center;
}

section#quiz-card, section#score-and-initials, section#highscore-page{
    background-color:peachpuff;
    display:flex;
    width:450px;
    min-height:fit-content;
    flex-direction:column;
    border-color:blue;
    border-style:groove;
    border-width: thick;
}

section#quiz-card h2,{
    margin-left: 40%;
    margin-right: 40%;
}

section#quizcard p{
    margin-left: 2.5%;
    margin-right: 2.5%
}

section#quiz-card ol, section#highscore-page ol{
    margin-top:50px;
    margin-left:5%;
}

section#quiz-card ol li, section#highscore-page ol li{
    margin-top:1.5%;
    margin-bottom:8%;
}

section#highscore-page h1{
    margin-left: 40%;
    margin-right: 40%;
}

section.timer-box{
    background-color:aliceblue;
    display:flex;
    flex-direction:column;
    margin-left:90%;
    text-align:center;
    border-color:blue;
    border-style:groove;
    border-width: thick;
    padding:1%;
    position:fixed;
}